<style>
  .partners{
    background-color: {{section.settings.background-color}}
  }
</style>
<div class="container partners"></div>
{% schema %}
{
  "name": "Partners",
  "settings": [
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default":"#666666"
    }
  ]
}
{% endschema %}
